---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSectionVue from "../components/HeroSection.vue";
import SermonList from "../components/SermonList.vue";
import CompetitionSection from "../components/CompetitionSection.vue";
import InfiniteScroll from "../components/InfiniteScroll.vue";
import FeatureSection from "../components/FeatureSection.vue";
import ContactUs from "../components/ContactUs.vue";
import PricingSection from "../components/PricingSection.vue";
---

<BaseLayout
  title="凌云竞赛平台 - Cardinal"
  description="凌云竞赛平台是集夺旗解题赛、AWD攻防赛、知识竞赛等多类型赛事为一体的专业化安全竞赛平台"
>
  <HeroSectionVue
    title="凌云竞赛平台 Cardinal"
    subTitle="多类型赛事平台，助力人才培养"
    url="/cardinal/bg.webp"
    client:visible
  />
  
  <SermonList client:visible />

  <FeatureSection client:visible/>

  <CompetitionSection client:visible/>

  <!-- 价格部分 -->
  <PricingSection 
    title="选择您的专属方案"
    subTitle="满足任意竞赛需求"
    gradientType="right"
    client:visible 
  />

  <div id="contact">
    <ContactUs client:visible gradientType="left" />
  </div>

  <InfiniteScroll client:visible/>

</BaseLayout> 